name: Deploy to Production

on:
  push:
    branches:
      - main
      - chore/deploy

jobs:
  deploy:
    runs-on: GCP-frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install PM2
        run: npm install -g pm2

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Deploy
        run: pm2 deploy ecosystem.config.cjs production update
        env:
          SERVER_IP: ${{ secrets.SERVER_IP }}
